; Comments start with ';', as in php.ini
; 可以使用php的parse_ini_file函数进行解析

; 一些测试配置
[first_section]
HOST =
DATABASE =
PASSWORD=
DETAIL_PROCESS_NUM=5
DEFAULT_NOVEL_BASE_URL=https://www.biquwu.cc
DEFAULT_NOVEL_LIST_URL=https://www.biquwu.cc/biquge/17_17308/
DEFAULT_NOVEL_NAME=大宋王候
; 获取列表的主要区域（css 选择器） 例如：`.listmain`
DEFAULT_NOVEL_LIST_BOX_RULE='.listmain'
; 获取列表项的 html 标签区域（css 选择器）
DEFAULT_NOVEL_LIST_ITEM_BOX_RULE='dd'
; 获取列表项内容所在的标签
DEFAULT_NOVEL_LIST_LINK_RULE='a'
DEFAULT_NOVEL_LIST_TITLE_RULE='a'
DEFAULT_NOVEL_DETAIL_RULE=

; 后台界面相关配置
[web]
host=0.0.0.0
WEB_SITE_PORT = 8080
API_SITE_PORT=8081

; 列表相关配置
[start_list_db]
DB_HOST = 127.0.0.1
DB_DATABASE = spider_db
DB_USER=user1
DB_PASSWORD=XXXXxxxx

; redis 的相关配置
[redis_config]
HOST=127.0.0.1
PORT=6379

; 内容抓取的相关配置
[spider_config]
; 列表抓取规则
list_rule=

; 章节详情抓取规则
detail_rule=

; 内容输出类型。支持以下类型。默认 `mysql`；
; `mysql`：将抓取内容存储到 mysql 表中。
; `txt`：将抓取的内容导出成 txt 文件，便于放到移动端阅读
output=mysql
